<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">TransUmo</h1>
      <h3 class="mb-5">
        <em style="font-weight:bold">TransUmo is a web application that allows you to track your
          transportation expenses.</em>
      </h3>
      <a href="/signin" class="btn btn-primary">Iniciar</a>
    </div>
  </header>
</main>