<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/registros/add" method="post">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                name="cedula"
                placeholder="Documento de Identidad"
                autofocus
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="nombre"
                placeholder="Nombre del Empleado"
              />
            </div>
            <div class="form-group">
              <label for="">Seleccione un centro de costos</label>
              <select name="color" id="color">
                {{#each ccostos}}
                  <option value="{{id}}">{{centroCosto}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-success">save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>